.details-container {
    width: 20%;
    color: aqua;
}

.main-container {
    flex-basis: 80%;

}

.Car-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



@media only screen and (width:360px) {
    .Car-Container {
        flex-direction: column;
    }

    .details-container {
        width: 100%;
        color: aqua;
    }

    .main-container {
        flex-basis: 100%;
    }


}