.product-container {
    display: flex;
    flex-direction: row;
    flex-basis: 75%;
    flex-wrap: wrap;
}

.details-container {
    background: yellowgreen;
    flex-basis: 20%;

}

.details-container h2,
h3 {
    padding: 0px 20px;
}

.container {
    width: 100%;
    display: flex;
}

@media only screen and (width:360px) {
    .container {
        flex-direction: column;
    }

    .details-container {
        width: 100%;
        color: aqua;
    }

    .main-container {
        flex-basis: 100%;
    }


}